# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Version Control
.git/
.gitignore
.gitattributes

# Environment & Config
.env
*.env

# Documentation
README.md
*.md

# Docker
Dockerfile
.dockerignore
compose.yaml
docker-compose.yml

# Tests
src/test/

.DS_Store